@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /*new colors*/
  --primary: #2563eb;
  --primary-light: #93c5fd;
  --primary-dark: #1e40af;
  --secondary: #4f46e5;
  --surface: #f8fafc;
  --accent: #f59e0b;
  --success: #10b981;
  --navbar: #ffee00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
