@import "tailwindcss";
@plugin "daisyui";

body{
    background-color: rgba(2, 34, 77, 0.57);
}

@theme{
    --deepblue-500: #023047;
    --amber-500: #fb8500;
    --alabaster-500: #e0e1dd;

}

.bg-deepblue{
    background-color: var(--deepblue-500);
}
.bg-amber{
    background-color: var(--amber-500);
}
.text-alabaster{
    color: var(--alabaster-500);
}

.text-amber{
    color: var(--amber-500);
}

@utility container{
    padding: 20px;
    max-width: 1280px;
    margin: auto;
}

@layer components{
    .header-style{
        @apply bg-yellow-700 ;
    }
}

@layer base {
    :root {
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }
   
    .dark {
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }